* {
    background-color: antiquewhite;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

main {
    padding: 10;
    margin: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
     
}

.calculator-grid > button {
    /* border: 1px solid white; */
    background-color: rgba(25, 159, 81, 0.75);
    outline: none;
}

.span-two {
    grid-column: span 2;
}

button:hover {
    cursor: pointer;
}

button:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;

}

.output {
    grid-column: span 4;
    /* grid-column-start: 1;
    grid-column-end: 5; */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2px;
}